
.css-typing
{
	width:211px;
    position: absolute;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}

@keyframes type{
    from { width: 0; }
	 to {
        width: 211px;
    }
}

@-webkit-keyframes type{
    from { width: 0; }
	 to {
        width: 211px;
    }
}


/* code for animated blinking cursor */

	.type-wrap{


		height: 45px;
    	color: #2f757d;
		text-align: center;
		padding: 10px;
	}
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }


#banner {
		background: url(../images/pic07.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		max-width: 100%;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

		#banner .inner{
			position: Absolute;
			background-color: rgba(255, 255, 255, 0.64);
			outline: 4px double #FFFFFF;
    		outline-offset: 8px;
			left: 50%;
			margin-top: -50px;
			margin-left: -150px;
			width: 280px;
			height: 200px;
		}

		#banner h2 {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			margin: 35px 0px;
			padding: 0.35em 1em;
			position: relative;
			z-index: 1;
		}

			#banner h2:before, #banner h2:after {
				-moz-transition: width 0.85s ease;
				-webkit-transition: width 0.85s ease;
				-ms-transition: width 0.85s ease;
				transition: width 0.85s ease;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				background: #c5dbec;
				content: '';
				display: block;
				height: 1px;
				position: absolute;
				width: 100%;
			}

			#banner h2:before {
				top: 0;
				left: 0;
			}

			#banner h2:after {
				bottom: 0;
				right: 0;
			}

		#banner p {
			letter-spacing: 0.225em;
			text-transform: uppercase;
		}

			#banner p a {
				color: inherit;
			}

		#banner .more {
			-moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
			-webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
			-ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
			transition: transform 0.75s ease, opacity 0.75s ease;
			-moz-transition-delay: 1.5s;
			-webkit-transition-delay: 1.5s;
			-ms-transition-delay: 1.5s;
			transition-delay: 1.5s;
			-moz-transform: translateY(-50px);
			-webkit-transform: translateY(-50px);
			-ms-transform: translateY(-50px);
			transform: translateY(-50px);
			color: white;
    		text-shadow: -3px -1px 2px #000000;
			border: none;
			bottom: 0;
			font-size: 0.8em;
			height: 8.5em;
			left: 50%;
			letter-spacing: 0.225em;
    		margin-left: -150px;
			opacity: 1;
			outline: 0;
			padding-left: 0.225em;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 280px;
			z-index: 1;
		}

			#banner .more:after {

				font-family: FontAwesome;
				content: '\f13a';
				display: block;

				padding-top: 20px;
				font-size: 20px;
				left: 50%;
				margin: 0 0 0 -0.75em;

			}

		#banner:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			/*-moz-transition: opacity 3s ease-in-out;
			-webkit-transition: opacity 3s ease-in-out;
			-ms-transition: opacity 3s ease-in-out;
			transition: opacity 3s ease-in-out;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;*/
			content: '';
			/*background: #2e3842;*/
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}

		


body.is-loading #banner h2 {
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 0;
}

	body.is-loading #banner h2:before, body.is-loading #banner h2:after {
		width: 0;
	}

body.is-loading #banner .more {
	-moz-transform: translateY(8.5em);
	-webkit-transform: translateY(8.5em);
	-ms-transform: translateY(8.5em);
	transform: translateY(8.5em);
	opacity: 0;
}

body.is-loading #banner:after {
	opacity: 1;
}

	#wrapper {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		min-height: 100vh;
	}
	#main {
	
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		width: 100%;
	}

		#main > .inner {
			/*padding: 0 4em 0.1em 4em ;*/
			/*margin: 0 auto;*/
			/*max-width: 110em;*/
		}

			#main > .inner > section {
				padding: 45px 0px 4px 10px ;
				border-top: solid 2px rgba(210, 215, 217, 0.75);
			}

				#main > .inner > section:first-of-type {
					border-top: 0 !important;
				}


/*옆으로 움직이는 CSS*/
/* -webkit-transform: translateX(275px); 
transition: transform 0.5s ease;
backface-visibility: hidden;*/

		@media screen and (min-width: 1824px) {

			#banner {
				background-position-y: -112px;
			}
		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 0 !important;
				background-position-x: -214px;
			}
			#banner .inner {
				    margin-top: -120px;
				margin-left: -110px;
				width: 230px;
			}
			#banner .more {
				width: 230px;
				margin-left: -110px;
			}

			.side-on #banner .inner{
				width: 180px;
				margin-left: -88px;
			}

			.side-on #sidebarSection .inner {
				padding-left: 7px;
			}

			#main > .inner > section {
				padding: 0px;
			}


		}