#googleMap {
    cursor: default;
    height: 800px;
    overflow: hidden;
    position:relative;
}


#main > .inner {
    padding: 80px 35px;
}

@media screen and (max-width: 736px) {
    #googleMap {
        cursor: default;
        height: 400px;
        overflow: hidden;
        position:relative;
    }
}